body {
	background-color: #2E2E2E;
	color:#CBEAF5;
	font-size: 24;
	font-family: Arial, Verdana;
	text-align: center;
	}

.centrarimgdiv {
	text-align:center;
}

img.home {
	width: 500px;
	text-align: center;
}