body {
	background-color: #2E2E2E;
	color:#CBEAF5;
	font-size: 24;
	font-family: Arial, Verdana;
	text-align: center;
	}

.centrarimgdiv {
                position: absolute;
                left: 25%;
                top: 18%;
                width: 770px;
                height: 510px;
        }

/*img.home {
	width: 500px;
	text-align: center;
}*/


#espacio {

	width: 100px;
	height: 100px;
	text-align: center;
}